.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-gap: 20px;
    justify-items: center; /* للتحكم فى محاذاة العنصر يمين ويسار*/
    align-items: center;   /*للتحكم فى محاذاة العنصر فوق وتحت*/
}
.box{
    background-color: slateblue;
    text-align: center;
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
